<%-include('../partials/admin/admin.head.ejs')-%>
<body>

    <!-- Offcanval Overlay -->
    <div class="offcanvas-overlay"></div>
    <!-- Offcanval Overlay -->

    <!-- Wrapper -->
    <div class="wrapper">
        <!-- Header -->
        <%-include('../partials/admin/admin.header.ejs')-%>

        <!-- End Header -->

        <!-- Main Wrapper -->
        <div class="main-wrapper">
            <!-- Sidebar -->
            <%-include('../partials/admin/admin.sidebar.ejs')-%>

            <!-- End Sidebar -->

            <!-- Main Content -->
            <div class="main-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card mb-30">
                                <div class="card-body pt-30">
                                    <h4 class="font-20 ">List of Laptops</h4>
                                </div>
                                <div class="table-responsive">
                                    <!-- Invoice List Table -->
                                    <table class="text-nowrap dh-table">
                                        <thead class="text_color-bg text-white">
                                            <tr>
                                                <th>Brand</th>
                                                <th>Model</th>
                                                <th>Description</th>
                                                <!-- <th>Specification</th> -->
                                                <th>Category</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <%data.forEach(data=>{%>

                                                <tr>
                                                    <td><%=data.brand%></td>
                                                    <td><%=data.model%></td>
                                                    <td><%=data.description%></td>
                                                    <td><%=data.categories%></td>
                                                    <td>
                                                        <a href="viewlaptops/specs/<%=data.id%>" data-id="<%=data.id%>"><i class="icofont-list p-3 text-warning h3" title="add specification"></i></a>
                                                        <a href="viewlaptops/image/<%=data.id%>" data-id="<%=data.id%>"><i class="icofont-image p-3 text-info h3" title="add image"></i></a>
                                                        <a  data-id="<%=data.id%>"><i class="icofont-bin p-3 text-danger h3" title="delete"></i></a>
                                                    </td>
                                                </tr>
                                            <%})%>
                                        </tbody>
                                    </table>
                                    <!-- End Invoice List Table -->
                                </div>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Main Content -->
        </div>
        <!-- End Main Wrapper -->

        <!-- Footer -->
        <%-include('../partials/admin/admin.footer.ejs')-%>

        <!-- End Footer -->
    </div>
    <!-- End wrapper -->

    <%-include('../partials/admin/admin.script.ejs')-%>

</body>

</html>